@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');

$black: #363839;
$white: #fff;
$red: #d13639;
$bloodred: #bc252a;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.manterLog {
  position: relative;
  top: 51%;
  left: 3%;
}

input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  background-color: #eeeeee;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 7px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: $white;
    border-color: $red;
    background: $red;
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  &:after {
    border-color: $bloodred;
    background: $bloodred;
  }
}

label {
  font-family: "EkBold";
  position: absolute;
  font-weight: 600;
  padding: 0 0.25em 0;
  color: #7e7e7e;
  font-size: 15px;
}